<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/common/loading-screen.css}">
</head>

<div class="loading-container">
    <div class="loading-content">
        <div class="items-container">
            <div class="burger">
                <div class="bun-top"></div>
                <div class="lettuce"></div>
                <div class="patty"></div>
                <div class="bun-bottom"></div>
            </div>

            <div class="coffee-cup">
                <div class="cup"></div>
                <div class="liquid"></div>
                <div class="steam"></div>
            </div>
        </div>
        <div class="loading-text">Cooking up something special...</div>
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
</div>

<script th:src="@{/js/common/loading-screen.js}"></script>

</html>